scr/Honda.MVC/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49855/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Honda.WCF" />
  <xs:element name="getListarTablaCodigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pFiltro" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListarTablaCodigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Honda.WCF" minOccurs="0" name="getListarTablaCodigoResult" nillable="true" type="q1:ArrayOfTablaCodigoWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBuscarTablaCodigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBuscarTablaCodigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Honda.WCF" minOccurs="0" name="getBuscarTablaCodigoResult" nillable="true" type="q2:TablaCodigoWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setAgregarTablaCodigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Honda.WCF" minOccurs="0" name="item" nillable="true" type="q3:TablaCodigoWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setAgregarTablaCodigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setAgregarTablaCodigoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setActualizarTabalCodigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Honda.WCF" minOccurs="0" name="item" nillable="true" type="q4:TablaCodigoWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setActualizarTabalCodigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setActualizarTabalCodigoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setEliminarTabalCodigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setEliminarTabalCodigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setEliminarTabalCodigoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>