scr/Honda.MVC/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Honda.WCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Honda.WCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTablaCodigoWCF">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TablaCodigoWCF" nillable="true" type="tns:TablaCodigoWCF" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTablaCodigoWCF" nillable="true" type="tns:ArrayOfTablaCodigoWCF" />
  <xs:complexType name="TablaCodigoWCF">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TablaCodigoWCF" nillable="true" type="tns:TablaCodigoWCF" />
</xs:schema>